@font-face {
    font-family: 'High Summit';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/HighSummit/HighSummit.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/HighSummit/HighSummit.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/HighSummit/HighSummit.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/HighSummit/HighSummit.ttf') format('truetype');
}
